$baseline: 21px;
$basefont: 14px;

// NOTE: http://name-of-color.com/

$color-kp1: #b15158; // Redwood
$color-kp2: #10120e; // Onyx
$color-kp3: #889faf; // Copper Rust
$color-kp4: #e77d67; // Bali Hai
